AWSTemplateFormatVersion: "2010-09-09"
Description: Notification infrastructure for EDL Data Catalog
Resources:
  JDDataCatalogSnsTopic:
    Type: "AWS::SNS::Topic"
    Properties:
      DisplayName: JDDataCatalogNotification
      TopicName: JDDataCatalogNotification
