.lineage-dropdown {
	width: '500px'
}

.bi {
	padding: 0em !important;
}

.bi-diagram-link-label {
	height: auto;
	width: 300px;
	overflow: visible;
	float: left;
	z-index: -1;
	position: relative;
}

.bi-diagram-node {
	height: 81.15px !important;
	width: 300px !important;
	color: black !important;
	background-color: rgb(242, 242, 242) !important;
	border-radius: 0 !important;
	transform: translate(100%, 200%);
}

.bi-diagram-link-label {
	height: auto;
	width: 300px;
	overflow: visible;
	float: left;
	z-index: -1;
	position: relative;
}

.bi-diagram {
	z-index: 0;
	box-shadow: none !important;
	overflow: auto !important;
}

.bi-port-wrapper {
	height: 0px;
	transform: translateY(-81px);
}

.bi-output-ports {
	transform: translateX(-4px);
	width: 10px;
}

.bi-input-ports {
	transform: translateX(4px);
	width: 10px;
}

.bi-diagram-port {
	height: 83px !important;
	width: 8px !important;
	background-color: rgb(0, 111, 28) !important;
	transform: translateY(-1px);
}

.diagram-node-overlay {
	text-align: center;
	position: relative;
	padding: 5px 0px;
}

.diagram-node-popover {
	width: 300px;
	height: auto;
}

.diagram-node {
	height: inherit;
	margin: 0;
	padding: 1em;
	overflow: hidden;
	flex-shrink: 1;
	flex-wrap: wrap;
	text-align: center;
}

.no-padding {
	padding: 0px !important;
	margin: 0px p !important;
}

.container-padding{
	padding: 0.3em 0.1em !important;
}

.lineage-popover-grid-row {
	padding: 0em 0.6em !important;
	text-align: left !important;
}